{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}

<div class = "login" style="width: 300px; height: 300px; margin: auto; margin-top: 170px;" >
    <div style="margin-bottom: 30px">
        <h1 class="text-center">Login</h1>
    </div>
    <form method="POST" action="">
        {% csrf_token %}
        <table>
            <tr>
                <td>Username: </td>
                <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
            </tr>
                    
            <tr>
                <td>Password: </td>
                <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
            </tr>

            
        </table>
        <tr>
            <td><input class="btn login_btn btn-secondary" type="submit" value="Login" style="margin-left:120px; margin-top: 20px; margin-bottom: 20px; border-radius: 12px;"></td>
        </tr>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}     
        
    Belum mempunyai akun? <a href="{% url 'wishlist:register' %}">Buat Akun</a>

</div>

{% endblock content %}